extends layout

block content
	h1= title
	h3 This is very much a work in progress!
	p Follow the progress on&nbsp;
		a(href="https://github.com/paguco/disbott/tree/c%23" title="Github") Github
	p Add #{title} by&nbsp;
		a(href="https://discordapp.com/api/oauth2/authorize?client_id=160829674748903434&scope=bot&permissions=0" title="Discord") Authorising #{title} to join your server(s)